name: Export go builds across multiple Operating Systems
on:
 push:
   branches: [ "master" ]
   tags: [ "v*" ]
   paths-ignore: 
     - '**/**.md'
     - "internal/dashboard/images/**"
     - ".gitignore"
     - "go.mod"
     - "go.sum"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            binary: sysmon-linux
            go-version: 1.24
          - os: macos-latest
            binary: sysmon-darwin
            go-version: 1.24
          - os: windows-latest
            binary: sysmon-windows.exe
            go-version: 1.24

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build -o ${{ matrix.binary }} main.go
        env:
          GO_VERSION: ${{ matrix.go-version }}
          CGO_ENABLED: 0

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.binary }}-${{ matrix.os }}-${{ matrix.go-version }}
          path: ${{ matrix.binary }}

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

        

