name: Export go builds
on:
 push:
   branches: [ "master" ]
   paths-ignore: 
     - "**.md"
     - "internal/dashboard/images/**"
     - ".gitignore"
     - ".github/workflows/main.yml"
     - "go.mod"
     - "go.sum"

env:
  GO_VERSION: '1.24'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        go-version: ["1.24", "1.25"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install dependencies
        run: go mod download
      - name: Build
        run: go build -o sysmon main.go
        env:
          GO_VERSION: ${{ matrix.go-version }}
          CGO_ENABLED: 1
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: sysmon-${{ matrix.os }}-${{ matrix.go-version }}
          path: sysmon
        

